<!DOCTYPE html>
<!-- <html class="no-js" lang="zxx"> -->
<html>
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Anupam Manna">
    <meta name="description" content="Delivering Extraordinary IT Solutions/Support and fix all types of Computer & CCTV. There are many variations of Pricing Plan available, Visit website now">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript, Computer, CCTV, Camera, LapTop, TecIQ, IT, Solutions,Support">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title>TecIQ :: IT Solutions & Support</title>
    <!-- Place favicon.ico in the root directory -->

    <link rel="shortcut icon" type="image/png" href="{% static 'images/teciq_logo.png' %}" />
    <!-- Plugin-CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/icofont.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <!-- Main-Stylesheets -->
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'stl.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <script src="{% static 'js/vendor/modernizr-2.8.3.min.js' %}"></script>
    


    <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    
  </head>
  <body data-spy="scroll" data-target=".mainmenu-area">
    <!--Preloader-->
    <div class="preloader">
        <div class="spinner"></div>
    </div>

    <!-- Mainmenu-Area -->
    <nav class="navbar mainmenu-area" data-spy="affix" data-offset-top="197">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div id="search-box" class="collapse">

                        <form action="http://www.google.com/search" method="GET">
                            <input type="search" name="q" class="form-control" placeholder="What do you want to know?">
                        </form>
                    
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="navbar-header smoth">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainmenu">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span> 
                        </button>
                        <a class="" href="#home-area"><img style="widows: 173px; height: 57px;" src="{% static 'images/teciq_logo.png' %}" alt=""></a>
                    </div>
                    <div class="collapse navbar-collapse navbar-right" id="mainmenu">
                        <ul class="nav navbar-nav navbar-right help-menu">
                            <li><a href="/admin"><i class="icofont icofont-user-alt-4"></i></a></li>
                            <li><a href="#search-box" data-toggle="collapse"><i class="icofont icofont-search-alt-2"></i></a></li>
                            <li class="select-cuntry">

                                    <option value="ENG">ENG</option>
                                   
                            </li>
                        </ul>
                        <ul class="nav navbar-nav primary-menu">
                            
                            <li><a href="#home-area">Home</a></li>
                            <li><a href="#service-area">Services</a></li>
                            <!--<li><a href="">Portfolio</a></li>-->
                            <li><a href="#team-area">Team</a></li>
                            <li><a href="#price-area">Price</a></li>
                           <!--<li><a href="">Blog</a></li>-->
                            <li><a href="#contact-area">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- Mainmenu-Area-/ -->

{% block content %}     {% endblock %}

<!-- Footer-Area -->
<footer class="footer-area">
    <div class="footer-top section-padding">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-3">
                    <div class="footer-text">
                        <h4 class="upper">TecIQ</h4>
                        <p>Step Forward <br>To The Next Generation <br>
                        Stay Connect With Us.
                        </p>
                        <div class="social-menu">
                            <a href="https://www.facebook.com/teciqllc"><i class="icofont icofont-social-facebook"></i></a>
                            <a href="https://twitter.com/teciqllc"><i class="icofont icofont-social-twitter"></i></a>
                            <!--<a href="#"><i class="icofont icofont-social-google-plus"></i></a>-->
                            <a href="#"><i class="icofont icofont-social-linkedin"></i></a>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-xs-6 col-md-2 col-md-offset-1">
                    <div class="footer-single">
                        <h4 class="upper">News</h4>
                        <ul>
                            <li><a href="#">Subsciption</a></li>
                            <li><a href="#">New Apps</a></li>
                            <li><a href="#">Download now</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-6 col-md-2">
                    <div class="footer-single">
                        <h4 class="upper">Company</h4>
                        <ul>
                            <li><a href="#">Screenshot</a></li>
                            <li><a href="#">Fetures</a></li>
                            <li><a href="#">Price</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-6 col-md-2">
                    <div class="footer-single">
                        <h4 class="upper">Resources</h4>
                        <ul>
                            <li><a href="#">Support</a></li>
                            <li><a href="#contact-area">Contact</a></li>
                            <li><a href="#">Privacy &amp; Term</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-6 col-md-2">
                    <div class="footer-single">
                        <h4 class="upper">Solutions</h4>
                        <ul>
                            <li><a href="#"><s>Bug Fixing</s></a></li>
                            <li><a href="#">Upgrade</a></li>
                            <li><a href="#"><s>Malware Protect</s></a></li>
                        </ul>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    <p class="copyright">Copyright &copy;<script>document.write(new Date().getFullYear());</script> TecIQ LLC. All rights reserved |  <i class="icofont icofont-heart-alt" aria-hidden="true"></i><a href="https://twitter.com/teciqllc" target="_blank"> TecIQ</a></p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </div>
            </div>
        </div>
    </div>
  </footer>
  <!-- Footer-Area / -->
  
  
  <!--Vendor-JS-->
  <script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
  <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
  <!--Plugin-JS-->
  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'js/appear.js' %}"></script>
  <script src="{% static 'js/bars.js' %}"></script>
  <script src="{% static 'js/waypoints.min.js' %}"></script>
  <script src="{% static 'js/counterup.min.js' %}"></script>
  <script src="{% static 'js/easypiechart.min.js' %}"></script>
  <script src="{% static 'js/mixitup.min.js' %}"></script>
  <script src="{% static 'js/contact-form.js' %}"></script>
  <script src="{% static 'js/scrollUp.min.js' %}"></script>
  <script src="{% static 'js/magnific-popup.min.js' %}"></script>
  <script src="{% static 'js/wow.min.js' %}"></script>
  <!--Main-active-JS-->
  <script src="{% static 'js/main.js' %}"></script>
  <!--<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDXZ3vJtdK6aKAEWBovZFe4YKj1SGo9V20&callback=initMap"></script>
  <script src="js/maps.js"></script>-->

</body>
</html>
