{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="jumbotron text-center">
  <h1 class="display-3">Thank You!</h1>
    <p class="lead"><strong>We recive your message!</strong> Stay connect with us.</p>
    <hr>
    <p>
      Having trouble? <a href="https://teciq.herokuapp.com/#contact-area">Call us</a>
    </p>
    <p class="lead">
      <a class="btn btn-primary btn-sm" href="https://teciq.herokuapp.com/" role="button">Continue to homepage</a>
  </p>
</div>

  {% endblock %}
